#impact h1 {
	margin-bottom: 10px;
}

iframe#map-frame {
	border: none;
	width: 966px;
	height: 613px;
	overflow: hidden;
}
iframe#table-frame {
	border: none;
	width: 100%;
}
#controls {
	background-color: #50B1BD;
	padding: 8px;
	margin-bottom: 4px;
	text-align: center;
	font-family: 'Lato';
}
#controls #currency {
	width: 200px;
}
#controls #levels {
	margin-right: 24px;
}
#controls label {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	margin-right: 4px;
}
#controls select {
	font-size: 13px;
	margin-right: 24px;
}
#controls input {
	background-color: #FFFFFF;
	color: #50B1BD;
	width: 90px;
	height: 30px;
	text-align: center;
	margin-top: 0px;
	margin-left: 6px;
	padding-top: 1px;
	font-weight: bold;
	font-size: 12px;
}
#controls input.active {
	background-color: #C5F0F5;
}
#controls input:disabled {
	background-color: #CCCCCC;
}