{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}} Admin: Team</title>
		
		<link rel="stylesheet" href="css/blog.css" />
		<link rel="stylesheet" href="css/admin.css" />
		<link rel="stylesheet" href="css/input-form.css" />
		
		<script src="//ajax.microsoft.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
		<script>window.jQuery.validator || document.write('<script src="js/vendor/jquery.validate-1.11.0.min.js"><\/script>')</script>
	</head>
	<body id="admin">
		{{> Header }}
		{{> Blog/Header}}
		
		<div class="wrapper">
			<h1>
				<a href="admin">Blog Admin</a>:
				<a href="admin/team">Team</a>
			</h1>

			{{#Event.TeamMembers}}
				<form class="input" id="form-event-team" enctype="multipart/form-data" method="post" action="admin/team{{#EventTeamMemberID}}/{{.}}{{/EventTeamMemberID}}!PUT">
					<fieldset>
						<div class="legend">Details</div>
						<div class="body">
							<label for="twitter-name" class="required">Twitter Name</label><br/>
							<input type="text" name="TwitterName" id="twitter-name" value="{{TwitterName}}" style="width:504px;" class="required"/><br/>
						</div>
					</fieldset>
					<script type="text/javascript">
						jQuery.validator.addMethod(
								'noSpace',
								function(value, element) { 
									return !/\s/.test(value);
								},
								'This field cannot contain spaces'
						);

						var validator = $("#form-event-promotions").validate({
							ignore: '.ignore',
							errorPlacement: function(error, element) {
								error.insertBefore(element);
							},
							success: function(error) {
								error.remove();
							},
							rules: {
								TwitterName: {
									noSpace: true
								}
							}
						});
					</script>
					
					<div class="symbols">
						<span class="required"></span> required fields<br/>
					</div>
	
					<input type="submit" class="action" value="Save"/>
					<input type="button" class="action" value="Cancel" onclick="history.go(-1);"/>
				</form>
			{{/Event.TeamMembers}}
		</div>
		
		{{> Footer }}
	</body>
</html>