City Count: {{#format.toUSInteger}}{{CityCount}}{{/format.toUSInteger}}<br/>
Country Count: {{#format.toUSInteger}}{{CountryCount}}{{/format.toUSInteger}}<br/>
Donation Total: {{#format.toUSDollars}}{{DonationTotalUSD}}{{/format.toUSDollars}}<br/>

{{#siteAdmin}}Admin!{{/siteAdmin}}<br/>