City Count: {{#format_number.toUSInteger}}{{CityCount}}{{/format_number.toUSInteger}}<br/>
Country Count: {{#format_number.toUSInteger}}{{CountryCount}}{{/format_number.toUSInteger}}<br/>
Donation Total: {{#format_number.toUSDollars}}{{DonationTotalUSD}}{{/format_number.toUSDollars}}<br/>