{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}} {{LoginType}} Login</title>
		
		<link rel="stylesheet" href="css/input-form.css" />
	</head>
	<body id="login">
		{{> Header }}
		
		<div class="wrapper">
			<h1>{{LoginType}} Login</h1>
			
			<form action="login" method="POST" class="input">
				<fieldset>
					<div class="legend">Account</div>
					<div class="body">
			
						<label for="username">Username</label><br/>
						<input type="text" name="Username" id="username" style="width:300px;"/><br/>

						<label for="password">Password</label><br/>
						<input type="password" name="Password" id="password" style="width:300px;"/><br/>

						<input type="submit" value="Login" id="input-submit-button"/>
						
					</div>
				</fieldset>
			</form>
		</div>

		{{> Footer }}
	</body>
</html>