<div class="clearfix"></div>

<div id="footer">
	<div class="wrapper">
		<div class="newsletter">
			<form action="http://twestival.us2.list-manage1.com/subscribe/post?u=1e12004a88086491a227acb3a&id=7938ef1692" method="POST" class="subscribe" target="_blank">
				<label for="subscribe-email">Would you like to receive a Twestival Newsletter?</label>
				<input type="text" id="subscribe-email" name="MERGE0" value=""/>
				<input type="submit" id="subscribe-button" value="Sign Up"/>
			</form>
		</div>
		<div class="menu">
			<ul class="horizontal">
				<li><a href="{{GlobalUri}}/team">Team</a></li>
				<li><a href="{{GlobalUri}}/partners">Partners</a></li>
				<li><a href="{{GlobalUri}}/faq">FAQ</a></li>
				<li><a href="{{GlobalUri}}/conditions">Terms</a></li>
				<li><a href="{{GlobalUri}}/privacy">Privacy</a></li>
				<li><a href="{{GlobalUri}}/press">Press</a></li>
				<li id="footer-contact-us"><a href="mailto:info@twestival.com">Contact Us</a></li>
			</ul>
		</div>
		<div class="social-media">
			<div class="title">Follow Us:</div>
			<ul class="horizontal">
				<li id="footer-twitter"><a href="http://twitter.com/twestival" target="_blank"><img src="{{GlobalUri}}/img/common/footer/emblem-twitter.png" alt="Twitter"/></a></li>
				<li id="footer-facebook"><a href="http://facebook.com/twestival" target="_blank"><img src="{{GlobalUri}}/img/common/footer/emblem-facebook.png" alt="Facebook"/></a></li>
				<li id="footer-linkedin"><a href="http://www.linkedin.com/groups/Twestival-4846946" target="_blank"><img src="{{GlobalUri}}/img/common/footer/emblem-linkedin.png" alt="LinkedIn"/></a></li>
				<li id="footer-tumblr"><a href="http://twestival.tumblr.com/" target="_blank"><img src="{{GlobalUri}}/img/common/footer/emblem-tumblr.png" alt="Tumblr"/></a></li>
				<li id="footer-youtube"><a href="http://www.youtube.com/user/twestivalglobal" target="_blank"><img src="{{GlobalUri}}/img/common/footer/emblem-youtube.png" alt="YouTube"/></a></li>
				<li id="footer-pinterest"><a href="https://pinterest.com/twestival/" target="_blank"><img src="{{GlobalUri}}/img/common/footer/emblem-pinterest.png" alt="Pinterest"/></a></li>
				<li id="footer-googleplus"><a href="https://plus.google.com/112844332844002811178/" target="_blank"><img src="{{GlobalUri}}/img/common/footer/emblem-googleplus.png" alt="Google+"/></a></li>
			</ul>
		</div>
	</div>
</div>
<div id="bottom">
	<div class="wrapper">
		<div class="copyright">
			&copy; Copyright {{CurrentYear}}, Connect the Dots Collective.
		</div>
		<div class="hosting">
			Hosting provided by
			<img src="{{GlobalUri}}/img/common/footer/hosting.png" alt="mediatemple"/>
		</div>
	</div>
</div>