<div id="header">
	<div class="wrapper">
		<img class="logo" src="img/common/header/logo.png" alt="TWESTIVAL: tweet. meet. give."/>
		<div class="menu">
			<ul class="horizontal">
				<li><a href="our_story">Our Story</a></li>
				<li><a href="stats-scoreboard">Impact</a></li>
				<li><a href="http://twestival.tumblr.com/">Global Blog</a></li>
				<li><a href="events">Official Events</a></li>
				<li class="button-gray"><a href="get_involved">Get Involved</a></li>
			</ul>
		</div>
		<div class="info">
			<div class="social-media">
				<a href="https://www.facebook.com/sharer.php?u=http://www.twestival.com" target="_blank" id="header-social-media-facebook">
					<img src="img/common/header/share-facebook.png" alt="Facebook Like"/>
				</a>
				<a href="https://twitter.com/share?text=Check%20out%20%40Twestival!%20It's%20back%20and%20you%20can%20register%20your%20city%20at%26url%3Dhttp%3A%2F%2Fwww.twestival.com" target="_blank" id="header-social-media-twitter">
					<img src="img/common/header/share-twitter.png" alt="Twitter Share"/>
				</a>
			</div>
			<ul class="stats">
				<li id="stats-cities">{{#format.toUSInteger}}{{CityCount}}{{/format.toUSInteger}} cities</li>
				<li id="stats-countries">{{#format.toUSInteger}}{{CountryCount}}{{/format.toUSInteger}} countries</li>
				<li id="stats-total">{{#format.toUSDollars}}{{DonationTotalUSD}}{{/format.toUSDollars}} raised</li>
			</ul>
			<form action="search" method="GET" class="search">
				<label class="accessible-text" for="search-query">Find a Twestival</label>
				<input type="text" id="search-query" name="q" value="Find a Twestival"/>
				<label class="accessible-text" for="search-button">Search</label>
				<input type="image" id="search-button" name="btn" src="img/common/header/search.png" alt="Search"/>
			</form>
		</div>
	</div>
</div>

<a name="content"></a>