{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}} Admin</title>
		
		<link rel="stylesheet" href="css/input-form.css" />
		<link rel="stylesheet" href="css/admin.css" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script>window.jQuery.Widget || document.write('<script src="js/vendor/jqueryui-1.10.2.min.js"><\/script>')</script>
		
		<script src="//ajax.microsoft.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
		<script>window.jQuery.validator || document.write('<script src="js/vendor/jquery.validate-1.11.0.min.js"><\/script>')</script>
		
		<script src="js/vendor/jquery.fileupload-7.4.1.js" type="text/javascript"></script>
	</head>
	<body id="admin">
		{{> Header }}
		
		{{#Event}}
			<div class="wrapper">
				<h1>
					<a href="admin">Site Admin</a>:
					<a href="admin/event">Event</a>: {{Name}}
				</h1>
				
				<form class="input" id="form-event" action="admin/event/{{EventID}}!PUT" method="POST">
					<fieldset>
						<div class="legend">Summary</div>
						<div class="body">
							<table class="detail">
								<tbody>
									<tr>
										<th>Approved</th>
										<td>
											{{#format.toLongEuropeanDate}}{{Created}}{{/format.toLongEuropeanDate}}
											({{#format.toHumanElapsedTime}}{{Created}}{{/format.toHumanElapsedTime}})
										</td>
									</tr>
									<tr>
										<th>Event Date</th>
										<td>
											{{#format.toLongEuropeanDate}}{{Date}}{{/format.toLongEuropeanDate}}
											({{#format.toHumanElapsedTime}}{{Date}}{{/format.toHumanElapsedTime}})
										</td>
									</tr>
									<tr>
										<th>Status</th>
										<td>
											{{#Active}}Active{{/Active}}
											{{^Active}}Deactivated{{/Active}}
										</td>
									</tr>
								</tbody>
							</table>
							<ul class="links">
								<li><a href="mailto:{{OrganizerEmailAddress}}">Email Organizer</a></li>
								<li><a href="{{BlogUri}}">Blog</a></li>
								<li><a href="{{TwitterUri}}">Twitter</a></li>
								{{#FacebookUri}}
									<li><a href="{{FacebookUri}}">Facebook</a></li>
								{{/FacebookUri}}
							</ul>
						</div>
					</fieldset>
					<fieldset>
						<div class="legend">Checklist</div>
						<div class="body">
							<table class="detail">
								<tbody>
							
									<tr>
										<th>Image</th>
										<td class="check">{{#ImageNonDefault}}✓{{/ImageNonDefault}}</td>
										<td>
											<img src="{{ImageUri}}" alt="{{Name}}"/>
										</td>
									</tr>
									<tr>
										<th>Charity</th>
										<td class="check">{{#EventCharities}}{{#Name}}✓{{/Name}}{{/EventCharities}}</td>
										<td>
											{{#EventCharities}}
												{{#Name}}
													{{#Uri}}
														<a href="{{Uri}}" target="_blank">{{Name}}</a>
													{{/Uri}}
													{{^Uri}}
														{{Name}}
													{{/Uri}}
												{{/Name}}
											{{/EventCharities}}
										</td>
									</tr>
									<tr>
										<th>Location</th>
										<td class="check">{{#LocationName}}✓{{/LocationName}}</td>
										<td>
											{{#LocationName}}{{.}}{{/LocationName}}
											{{^LocationName}}TBD{{/LocationName}}
										</td>
									</tr>
									<tr>
										<th>Team</th>
										<td class="check">{{#EventTeamMembersMultiple}}✓{{/EventTeamMembersMultiple}}</td>
										<td>
											{{EventTeamMemberCount}} members
										</td>
									</tr>
									<tr>
										<th>Sponsors</th>
										<td class="check">{{#EventSponsorCount}}✓{{/EventSponsorCount}}</td>
										<td>
											{{EventSponsorCount}} sponsors
										</td>
									</tr>
									<tr>
										<th>Blog</th>
										<td class="check">{{#BlogPostThisWeek}}✓{{/BlogPostThisWeek}}</td>
										<td>
											{{#BlogPosts}}
												Title: {{Title}}<br/>
												Posted: {{#format.toLongEuropeanDate}}{{Created}}{{/format.toLongEuropeanDate}}
												({{#format.toHumanElapsedTime}}{{Created}}{{/format.toHumanElapsedTime}})
											{{/BlogPosts}}
											{{^BlogPosts}}
												No Blog Posts
											{{/BlogPosts}}
										</td>
									</tr>
									<tr>
										<th>Donations</th>
										<td class="check">{{#DonationTotalUSD}}✓{{/DonationTotalUSD}}</td>
										<td>
											Raised {{#format.toUSDollars}}{{DonationTotalUSD}}{{/format.toUSDollars}}
											of {{#format.toUSDollars}}{{FundraisingGoalUSD}}{{/format.toUSDollars}}
											({{#format.toPercentage}}{{FundraisingGoalRatio}}{{/format.toPercentage}})
										</td>
									</tr>							
								</tbody>
							</table>
						</div>
					</fieldset>
					<fieldset>
						<div class="legend">Edit</div>
						<div class="body">
							<label for="name" class="required">Twestival Name</label><br/>
							<input type="text" name="Name" id="name" style="width:504px;" class="required" maxlength="50" value="{{Name}}"/><br/>
							
							<label for="active" class="required">Status</label><br/>
							<select id="active" name="Active" class="required">
								<option value="true" {{#Active}}selected="selected"{{/Active}}>Active</option>
								<option value="false" {{^Active}}selected="selected"{{/Active}}>Deactivated</option>
							</select>
						</div>
					</fieldset>
	
					<input type="submit" class="action" value="Save"/>
					<input type="button" class="action" value="Cancel" onclick="history.go(-1);"/>
				</form>
			</div>
		{{/Event}}
		
		{{> Footer }}
	</body>
</html>