{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: {{#Event}}{{Name}}{{/Event}}</title>
		
		<link rel="stylesheet" href="css/blog.css" />
		
		<!-- Twitter -->
		<script src="//widgets.twimg.com/j/2/widget.js"></script>
		<link href="//widgets.twimg.com/j/2/widget.css" type="text/css" rel="stylesheet"/>
		
		<!-- Social Media Counts -->
		<script type="text/javascript">
			function loadSocialMediaCounts(postID, url) {
				window['loadSocialMediaCountsForPost' + postID] = function(response) {
					$('#share-facebook-count-' + postID).text(response.Facebook.share_count).fadeIn();
					$('#share-twitter-count-' + postID).text(response.Twitter).fadeIn();
					$('#share-pinterest-count-' + postID).text(response.Pinterest).fadeIn();
					$('#share-googleplus-count-' + postID).text(response.GooglePlusOne).fadeIn();
				};
				$.ajax({
					dataType: 'jsonp',
					url: '//' + (location.protocol == 'https:' ? 'sharedcount.appspot' : 'api.sharedcount') + '.com',
					data: {
						url: url
					},
					cache: true,
					jsonpCallback: 'loadSocialMediaCountsForPost' + postID
				});
			};
		</script>
	</head>
	<body id="blog">
		{{> Header }}
		
		<div class="clearfix"></div>
		
		<div class="wrapper">
			{{#Event}}
				<div id="event">
					<div class="info">
						<div class="name">{{Name}}</div>
						<div class="datetime">
							{{#format.toLongEuropeanDate}}{{Date}}{{/format.toLongEuropeanDate}}{{#StartTime}}, {{#format.removeSeconds}}{{.}}{{/format.removeSeconds}}{{/StartTime}}{{#EndTime}} - {{#format.removeSeconds}}{{.}}{{/format.removeSeconds}}{{/EndTime}}
						</div>
						<div class="location">
							{{#LocationURL}}
								<a href="{{.}}">
							{{/LocationURL}}
							{{LocationName}}
							{{#LocationURL}}
								</a>
							{{/LocationURL}}
							{{#LocationAddress1}}
								<div class="address">{{.}}</div>
							{{/LocationAddress1}}
							{{#LocationAddress2}}
								<div class="address">{{.}}</div>
							{{/LocationAddress2}}
						</div>
					</div>
					<div class="stamp">
						<div class="logo"><img src="img/event/content/event-logo-1.png" alt=""/><!-- src = DB: Event.ImageFilename --></div>
						<div class="overlay"><img src="img/blog/event/logo-overlay.png" alt="Official Event"/></div>
					</div>
					<div class="clearfix"></div>
					{{#EventCharities}}
						<!-- Vertical aligning of unknown image sizes. http://giveupandusetables.com/ -->
						<table class="charity">
							<tbody>
								<tr>
									<td class="logo">
										{{#ImageUri}}
											{{#Uri}}
												<a href="Uri"><img src="{{ImageUri}}" alt=""/></a>
											{{/Uri}}
											{{^Uri}}
												<img src="{{ImageUri}}" alt=""/>
											{{/Uri}}
										{{/ImageUri}}
									</td>
									<td class="description">
										<div class="caption">Charity</div>
										<div class="name">
											{{#Uri}}
												<a href="{{Uri}}">{{Name}}</a>
											{{/Uri}}
											{{^Uri}}
												{{Name}}
											{{/Uri}}
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					{{/EventCharities}}
					<a class="contact" href="mailto:"><!-- href = 'mailto:' + DB: Event.OrganizerEmailAddress -->Contact Organizer</a>
					<ul class="social-media horizontal">
						<li><a href="#"><!--  href = 'https://twitter.com/' + DB: Event.TwitterName --><img src="img/blog/event/button-twitter.png" alt="Twitter"/></a></li>
						<!-- DB: IF Event.FacebookURL IS NOT NULL -->
							<li><a href="#"><!--  href = DB: Event.FacebookURL --><img src="img/blog/event/button-facebook.png" alt="Facebook"/></a></li>
						<!-- DB: IF -->
						<li><a href="mailto:?body="><!-- href = 'mailto:body=' + URLEncode('http://' + DB: Blog.Subdomain + '.twestival.com/') --><img src="img/blog/event/button-mail.png" alt="Email Link"/></a></li>
						<li><a href="#"><!-- href = 'https://twitter.com/share?text=' + URLEncode(DB: Event.TwitterShareMessage) --><img src="img/blog/event/button-tweet.png" alt="Tweet This"/></a></li>
					</ul>
				</div>
			{{/Event}}
			
			<div id="fundraising">
				<div class="caption">Help to aim at the goal!</div>
				<div class="goal"><!-- DB: Event.FundraisingGoalUSD -->$33,940</div>
				<div class="graph">
					<div class="progress" style="width: 16.97%"><!-- style width = (DB: Event.DonationTotalUSD / Event.FundraisingGoalUSD) * 100 (Max: 100) --></div>
				</div>
				<div class="donated" style="margin-left: 16.97%"><!-- style margin-left = (DB: Event.DonationTotalUSD / Event.FundraisingGoalUSD) * 100 (Max: 90) --><!-- DB: Event.DonationTotalUSD -->$2,000</div>
				<!--  DB: IF Event.AttendURL IS NOT NULL -->
					<div class="button attend">
						<a href="#"><!-- href = DB: Event.AttendURL -->Attend</a>
					</div>
				<!-- /DB: IF -->
				<!-- DB: IF Event.DonateURL IS NOT NULL -->
					<div class="button donate">
						<a href="#"><!-- href = DB: Event.DonateURL -->Donate</a>
					</div>
				<!-- DB: IF -->
				<div class="description">
					<span class="event"><!-- DB: Event.Name -->Twestival Kuala Lumpr</span>
					<!--  DB: Event.Description -->&reg; (or Twitter Festival) uses social media for social good by connecting communities on a single day to highlight a greater cause and have a fun event.
				</div>
			</div>
		</div>
		
		<div class="clearfix"></div>
		
		<div class="wrapper content">
			<div id="blog-posts">
				<div class="post" id="post-3"><!-- id = 'post-' + BlogPost.PostID -->
					<!-- Define: PostURL = 'http://' + DB: Blog.Subdomain + '.twestival.com/blog-entry/' + DB: DB: BlogPost.PostID + '/' + ToSafePageName(BlogPost.Subject) + '.html' -->
					<!-- IF authenticated for current Blog -->
						<!-- Define: EditURL = 'http://' + DB: Blog.Subdomain + '.twestival.com/blog-entry/' + DB: DB: BlogPost.PostID + '?action=edit' -->
						<a href="#" class="edit"><!-- href = EditURL -->Edit</a>
					<!-- IF -->
					<a href="#" class="subject"><!-- href = PostURL -->TWESTIVAL KL: What YOU helped raise!</a>
				
					<div class="date">April 5th, 2011</div>
					<a href="comment" class="comment-link">Comment</a>
				
					<div class="body">
						<p>Its finally over. After weeks of planning, Twestival KL was held in Finnegans Irish Bars and Restaurants in Midvalley. It was a night of hanging out with old and new friends, entertained by some of the best acts in the country and of course, raising money for Pertubuhan Kasyarakat PRIHATIN in Kota Bharu, a NGO caring for single mothers and kids living with HIV/AIDS.</p>
				
						<p>The next week or so was filled with auctions where there was some competitive bidding over items liek a White Bold 3 (thanks to Digi) and BMW Driver's training. It was all in good fun, all the while remembering that there are others less fortunate than us who we can help and do something about.</p>
				
						<p>And help we did.</p>
				
						<p>The humble target to raise was RM12,000. Our ticket sales, TShirt/Notebook Sales + Additional Donations put us at RM11,000. Then MDec stepped in and decided to lend a helping hand by matching our ticket sales with RM5,000. The collection was now at RM16,000 but it did not stop there. Thanks to YOUR generosity, we managed to raise a whopping RM 10,000 from all the auctions. TOTAL AMOUNT RAISED = RM26,000!!</p>
				
						<p>We thank all of our generous sponsors (please click their logos on the right to visit their sites!), all our supporters and of course every single person who came for our event, who couldn't attend but donated through ammado and everyone who participated in the auction. Thank you very much for the support!</p>
				
						<p>It does not stop here. Dr. Zahrin, the Administrative Director of PRIHATIn is comming down to Kuala Lumpur next week for a meeting with the Malasian Aids Counsil and we are hoping to arrange a brief meeting with him for a chat so keep following us for updates on our Twitter handle @TwestivalKL. All the donations received will be</p>
					</div>
					
					<div class="social-media-share">
						<a class="share share-facebook" href="#"><!-- href = 'http://www.facebook.com/sharer.php?u=' + URLEncode(PostURL) -->
							<span class="accessible-text">Facebook Share Count: </span>
							<span class="count" id="share-facebook-count-3"><!-- id = 'share-facebook-count-' + BlogPost.PostID --></span>
						</a>
						<a class="share share-twitter" href="#"><!-- href = 'http://twitter.com/share?text=' + URLEncode(PostURL) -->
							<span class="accessible-text">Twitter Share Count: </span>
							<span class="count" id="share-twitter-count-3"><!-- id = 'share-twitterk-count-' + BlogPost.PostID --></span>
						</a>
						<a class="share share-pinterest" href="#"><!-- href = 'http://pinterest.com/pin/create/button/?url=' + URLEncode(PostURL) + '&media=' + URLEncode('Waiting on requirements')  + '&description=' + URLEncode(BlogPost.Subject) -->
							<span class="accessible-text">Pinterest Pin Count: </span>
							<span class="count" id="share-pinterest-count-3"><!-- id = 'share-pinterest-count-' + BlogPost.PostID --></span>
						</a>
						<a class="share share-googleplus" href="#"><!-- href = 'https://plus.google.com/share?url=' + URLEncode(PostURL) -->
							<span class="accessible-text">Google+ Share Count: </span>
							<span class="count" id="share-googleplus-count-3"><!-- id = 'share-googleplus-count-' + BlogPost.PostID --></span>
						</a>
						<a class="share share-email" href="mailto:?body="><!-- href = 'mailto:?body=' + URLEncode(PostURL) -->
							<span class="accessible-text">Email Link</span>
							<span class="count" id="share-email-count-3"><!-- id = 'share-email-count-' + BlogPost.PostID --></span>
						</a>
						<script type="text/javascript">
							loadSocialMediaCounts(3 /* Post.PostID */, 'http://www.twestival.com/' /* PostURL */)
						</script>
					</div>
				</div>
			</div>
			<div id="sidebars">
				<div id="sidebar-twitter" class="sidebar">
					<div class="title">@nyctwestival<!-- DB: Event.TwitterName --></div>
					<div class="body">
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/itswendylou"  data-widget-id="310550464611622912">Tweets by @itswendylou</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					
						<!-- 
						<script type="text/javascript">
							new TWTR.Widget({
								version: 2,
								type: 'profile',
								interval: 5000,
								title: '',
								subject: '',
								width: 270,
								height: 166,
								theme: {
									shell: {
										background: 'transparent',
										color: '#444444'
									},
									tweets: {
										background: 'transparent',
										color: '#444444',
										links: '#34747c'
									}
								},
								features: {
									scrollbar: false,
									loop: true,
									live: true,
									hashtags: true,
									timestamp: true,
									avatars: true,
									toptweets: true,
									behavior: 'default'
								}
							}).render().setUser('nyctwestival' /* DB: Event.TwitterName */).start();
						</script>
						-->
						<noscript>
							<a href="https://twitter.com/search?q=%40nyctwestival"><!-- href = 'https://twitter.com/search?q=%40' + DB: Event.TwitterName -->See @nyctwestival<!-- DB: Event.TwitterName --> Tweets</a>
						</noscript>
						<div class="fadeout"></div>
					</div>
				</div>
				<div id="event-sponsors" class="sidebar">
					<div class="title">Sponsors</div>
					<div class="body">
						<!-- Vertical and horizontal aligning of unknown image sizes. http://giveupandusetables.com/ -->
						<table>
							<tbody>
								<tr>
									<td>
										<a href="#"><!-- href = DB: EventSponsor.URL -->
											<img src="img/event/content/sponsor-1.png" alt="Sponsor 1"/><!-- src = DB: EventSponsor.ImageFilename, alt = DB: EventSponsor.Name -->
										</a>
									</td>
									<td>
										<a href="#"><!-- href = DB: EventSponsor.URL -->
											<img src="img/event/content/sponsor-2.png" alt="Sponsor 2"/><!-- src = DB: EventSponsor.ImageFilename, alt = DB: EventSponsor.Name -->
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="#"><!-- href = DB: EventSponsor.URL -->
											<img src="img/event/content/sponsor-3.png" alt="Sponsor 3"/><!-- src = DB: EventSponsor.ImageFilename, alt = DB: EventSponsor.Name -->
										</a>
									</td>
									<td>
										<a href="#"><!-- href = DB: EventSponsor.URL -->
											<img src="img/event/content/sponsor-4.png" alt="Sponsor 4"/><!-- src = DB: EventSponsor.ImageFilename, alt = DB: EventSponsor.Name -->
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="#"><!-- href = DB: EventSponsor.URL -->
											<img src="img/event/content/sponsor-5.png" alt="Sponsor 5"/><!-- src = DB: EventSponsor.ImageFilename, alt = DB: EventSponsor.Name -->
										</a>
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="event-team" class="sidebar">
					<div class="title">The Team</div>
					<div class="body">
						<ul class="horizontal">
							<li>
								<a href="https://twitter.com/GeekDadAVL"><!-- href = DB: EventTeamMember.TwitterName -->
									<img src="https://api.twitter.com/1/users/profile_image?screen_name=GeekDadAVL&size=normal" alt="GeekDadAVL"/><!-- src = 'https://api.twitter.com/1/users/profile_image?size=normal&screen_name=' + EventTeamMember.TwitterName, alt = EventTeamMember.TwitterName -->
								</a>
							</li>
							<li>
								<a href="https://twitter.com/ItsWendyLou"><!-- href = DB: EventTeamMember.TwitterName -->
									<img src="https://api.twitter.com/1/users/profile_image?screen_name=ItsWendyLou&size=normal" alt="ItsWendyLou"/><!-- src = 'https://api.twitter.com/1/users/profile_image?size=normal&screen_name=' + EventTeamMember.TwitterName, alt = EventTeamMember.TwitterName -->
								</a>
							</li>
							<li>
								<a href="https://twitter.com/GeekDadAVL"><!-- href = DB: EventTeamMember.TwitterName -->
									<img src="https://api.twitter.com/1/users/profile_image?screen_name=GeekDadAVL&size=normal" alt="GeekDadAVL"/><!-- src = 'https://api.twitter.com/1/users/profile_image?size=normal&screen_name=' + EventTeamMember.TwitterName, alt = EventTeamMember.TwitterName -->
								</a>
							</li>
							<li>
								<a href="https://twitter.com/ItsWendyLou"><!-- href = DB: EventTeamMember.TwitterName -->
									<img src="https://api.twitter.com/1/users/profile_image?screen_name=ItsWendyLou&size=normal" alt="ItsWendyLou"/><!-- src = 'https://api.twitter.com/1/users/profile_image?size=normal&screen_name=' + EventTeamMember.TwitterName, alt = EventTeamMember.TwitterName -->
								</a>
							</li>
							<li>
								<a href="https://twitter.com/GeekDadAVL"><!-- href = DB: EventTeamMember.TwitterName -->
									<img src="https://api.twitter.com/1/users/profile_image?screen_name=GeekDadAVL&size=normal" alt="GeekDadAVL"/><!-- src = 'https://api.twitter.com/1/users/profile_image?size=normal&screen_name=' + EventTeamMember.TwitterName, alt = EventTeamMember.TwitterName -->
								</a>
							</li>
							<li>
								<a href="https://twitter.com/ItsWendyLou"><!-- href = DB: EventTeamMember.TwitterName -->
									<img src="https://api.twitter.com/1/users/profile_image?screen_name=ItsWendyLou&size=normal" alt="ItsWendyLou"/><!-- src = 'https://api.twitter.com/1/users/profile_image?size=normal&screen_name=' + EventTeamMember.TwitterName, alt = EventTeamMember.TwitterName -->
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
				<div id="global-blog" class="sidebar">
					<div class="title">Global Stories</div>
					<div class="body">
						<ul></ul>
						<script type="text/javascript">
							// twestival.tumblr.com is not returning any posts, so use staff.tumblr.com as a temporary stand-in
							$.getJSON('http://api.tumblr.com/v2/blog/staff.tumblr.com/posts/text?callback=?',
									{
										api_key: '3QS3yzIDSOfn2gZ0Tl8tItq5dcoBRDMhfL5O1pryvkcMDn3186',
										limit: 4
									},
									function(response) {
										var target = $('#global-blog .body ul');
										for(var i = 0; i < response.response.posts.length; i++) {
											var post = response.response.posts[i];
											target
													.append($('<li/>')
															.append($('<a/>', {href: post.post_url, target: '_blank'})
																	.append(
																			post.title
																			|| post.slug
																					.replace(/-/g, ' ')
																					.replace(/\w\S*/g, function(txt){ return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); })
																	)
															)
													);
										};
									});
						</script>
						<noscript>
							<a href="http://twestival.tumblr.com">See recent Twestival Tumblr Stories</a>
						</noscript>
					</div>
				</div>
			</div>
		</div>

		{{> Footer }}
	</body>
</html>