{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: {{#Event}}{{Name}}{{/Event}}</title>
		
		<link rel="stylesheet" href="css/blog.css" />
		
		<!-- Twitter -->
		<script src="//widgets.twimg.com/j/2/widget.js"></script>
		<link href="//widgets.twimg.com/j/2/widget.css" type="text/css" rel="stylesheet"/>
		
		<!-- Social Media Counts -->
		<script type="text/javascript">
			function loadSocialMediaCounts(postID, url) {
				window['loadSocialMediaCountsForPost' + postID] = function(response) {
					$('#share-facebook-count-' + postID).text(response.Facebook.share_count).fadeIn();
					$('#share-twitter-count-' + postID).text(response.Twitter).fadeIn();
					$('#share-pinterest-count-' + postID).text(response.Pinterest).fadeIn();
					$('#share-googleplus-count-' + postID).text(response.GooglePlusOne).fadeIn();
				};
				$.ajax({
					dataType: 'jsonp',
					url: '//' + (location.protocol == 'https:' ? 'sharedcount.appspot' : 'api.sharedcount') + '.com',
					data: {
						url: url
					},
					cache: true,
					jsonpCallback: 'loadSocialMediaCountsForPost' + postID
				});
			};
		</script>
	</head>
	<body id="blog">
		{{> Header }}
		
		{{#security.currentBlogEventAdmin}}
			Foo
		{{/security.currentBlogEventAdmin}}
		<div class="clearfix"></div>
		
		{{#Event}}
			<div class="wrapper">
				<div id="event">
					<div class="info">
						<div class="name">{{Name}}</div>
						<div class="datetime">
							{{#format.toLongEuropeanDate}}{{Date}}{{/format.toLongEuropeanDate}}{{#StartTime}}, {{#format.removeSeconds}}{{.}}{{/format.removeSeconds}}{{/StartTime}}{{#EndTime}} - {{#format.removeSeconds}}{{.}}{{/format.removeSeconds}}{{/EndTime}}
						</div>
						<div class="location">
							{{#LocationUri}}
								<a href="{{.}}">{{LocationName}}</a>
							{{/LocationUri}}
							{{^LocationUri}}
								{{LocationName}}
							{{/LocationUri}}
							{{#LocationAddress1}}
								<div class="address">{{.}}</div>
							{{/LocationAddress1}}
							{{#LocationAddress2}}
								<div class="address">{{.}}</div>
							{{/LocationAddress2}}
						</div>
					</div>
					<div class="stamp">
						<div class="logo"><img src="{{ImageUri}}" alt="{{Name}} Logo"/></div>
						<div class="overlay"><img src="img/blog/event/logo-overlay.png" alt="Official Event"/></div>
					</div>
					<div class="clearfix"></div>
					{{#EventCharities}}
						<!-- Vertical aligning of unknown image sizes. http://giveupandusetables.com/ -->
						<table class="charity">
							<tbody>
								<tr>
									<td class="logo">
										{{#ImageUri}}
											{{#Uri}}
												<a href="Uri"><img src="{{ImageUri}}" alt="{{Name}} Logo"/></a>
											{{/Uri}}
											{{^Uri}}
												<img src="{{ImageUri}}" alt="{{Name}} Logo"/>
											{{/Uri}}
										{{/ImageUri}}
									</td>
									<td class="description">
										<div class="caption">Charity</div>
										<div class="name">
											{{#Uri}}
												<a href="{{Uri}}">{{Name}}</a>
											{{/Uri}}
											{{^Uri}}
												{{Name}}
											{{/Uri}}
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					{{/EventCharities}}
					<a class="contact" href="mailto:{{#format.toUrlQuery}}{{OrganizerEmailAddress}}{{/format.toUrlQuery}}">Contact Organizer</a>
					<ul class="social-media horizontal">
						<li><a href="{{TwitterUri}}"><img src="img/blog/event/button-twitter.png" alt="Twitter"/></a></li>
						{{#FacebookUri}}
							<li><a href="{{FacebookUri}}"><img src="img/blog/event/button-facebook.png" alt="Facebook"/></a></li>
						{{/FacebookUri}}}
						<li><a href="mailto:?body={{#format.toUrlQuery}}{{BlogUri}}{{/format.toUrlQuery}}"><img src="img/blog/event/button-mail.png" alt="Email Link"/></a></li>
						<li><a href="https://twitter.com/share?text={{#format.toUrlQuery}}{{TwitterShareMessage}}{{/format.toUrlQuery}}"><img src="img/blog/event/button-tweet.png" alt="Tweet This"/></a></li>
					</ul>
				</div>
			
				<div id="fundraising">
					<div class="caption">Help to aim at the goal!</div>
					<div class="goal">{{#format.toUSDollars}}{{FundraisingGoalUSD}}{{/format.toUSDollars}}</div>
					<div class="graph">
						<div class="progress" style="width: {{#format.toPercentageMax}}{{FundraisingGoalRatio}},100{{/format.toPercentageMax}};"></div>
					</div>
					<div class="donated" style="margin-left: {{#format.toPercentageMax}}{{FundraisingGoalRatio}},90{{/format.toPercentageMax}};">{{#format.toUSDollars}}{{DonationTotalUSD}}{{/format.toUSDollars}}</div>
					{{#AttendUri}}
						<div class="button attend">
							<a href="{{AttendUri}}">Attend</a>
						</div>
					{{/AttendUri}}
					{{#DonateUri}}
						<div class="button donate">
							<a href="{{DonateUri}}">Donate</a>
						</div>
					{{/DonateUri}}
					<div class="description">
						<span class="event">{{Name}}</span>
						{{Description}}
					</div>
				</div>
			</div>
			
			<div class="clearfix"></div>
		{{/Event}}
		
		
		<div class="wrapper content">
			<div id="blog-posts">
				{{#BlogPosts}}
					<div class="clearfix"></div>
					<div class="post" id="post-{{PostID}}">
						{{#security.currentBlogEventAdmin}}
							<a href="{{BlogPostUri}}" class="edit">Edit</a>
						{{/security.currentBlogEventAdmin}}
						<a href="{{BlogPostPermalinkUri}}" class="subject">{{Title}}</a>
					
						<div class="date">April 5th, 2011</div>
						
						<!-- TODO: Implement comments -->
						<a href="comment" class="comment-link">Comment</a>
					
						<div class="body">
							{{{Content}}}
						</div>
						
						<div class="social-media-share">
							<a class="share share-facebook" href="http://www.facebook.com/sharer.php?u={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}">
								<span class="accessible-text">Facebook Share Count: </span>
								<span class="count" id="share-facebook-count-{{PostID}}"></span>
							</a>
							<a class="share share-twitter" href="http://twitter.com/share?text={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}">
								<span class="accessible-text">Twitter Share Count: </span>
								<span class="count" id="share-twitter-count-{{PostID}}"></span>
							</a>
							<a class="share share-pinterest" href="http://pinterest.com/pin/create/button/?url={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}&media={{#format.toUrlQuery}}{{Event.ImageUri}}{{/format.toUrlQuery}}&description={{#format.toUrlQuery}}{{Title}}{{/format.toUrlQuery}}">
								<span class="accessible-text">Pinterest Pin Count: </span>
								<span class="count" id="share-pinterest-count-{{PostID}}"></span>
							</a>
							<a class="share share-googleplus" href="https://plus.google.com/share?url={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}">
								<span class="accessible-text">Google+ Share Count: </span>
								<span class="count" id="share-googleplus-count-{{PostID}}"></span>
							</a>
							<a class="share share-email" href="mailto:?subject={{#format.toUrlQuery}}{{Title}}{{/format.toUrlQuery}}body={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}>">
								<span class="accessible-text">Email Link</span>
								<span class="count" id="share-email-count-{{PostID}}"></span>
							</a>
							<script type="text/javascript">
								loadSocialMediaCounts({{PostID}}, '{{BlogPostShareUri}}');
							</script>
						</div>
					</div>
				{{/BlogPosts}}
				<div class="clearfix"></div>
				
				{{#Pages.Older}}
					<a href="{{BlogUri}}?Page={{.}}" class="pagination older">← Older Posts</a>
				{{/Pages.Older}}
				{{#Pages.Newer}}
					<a href="{{BlogUri}}?Page={{.}}" class="pagination newer">Newer Posts →</a>
				{{/Pages.Newer}}
			</div>
			<div id="sidebars">
				{{> Sidebar/EventTwitter }}
				{{> Sidebar/EventSponsors }}
				{{> Sidebar/EventTeamMembers }}
				{{> Sidebar/GlobalTumblr }}
			</div>
		</div>

		{{> Footer }}
	</body>
</html>