{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		{{> Blog/HeadContent }}
		<title>Twestival {{CurrentYear}}: {{#Event}}{{Name}}{{/Event}}</title>
	</head>
	<body id="blog">
		{{> Header }}
		{{> Blog/Header}}
		
		{{> Blog/Event }}
		
		<div class="wrapper content">
			<div id="blog-posts">
				{{#BlogPost}}
					<div class="clearfix"></div>
					<div class="post" id="post-{{PostID}}">
						{{#security.currentBlogEventAdmin}}
							<a href="{{BlogPostUri}}" class="edit">Edit</a>
						{{/security.currentBlogEventAdmin}}
						
						<a href="{{BlogPostPermalinkUri}}" class="title">{{Title}}</a>
						<div class="date">{{#format.toEuropeanDate}}{{Created}}{{/format.toEuropeanDate}}</div>
						<a href="#disqus_thread" class="comment-link">Comment</a>
					
						<div class="body">
							{{{Content}}}
						</div>
						
						{{>Blog/SharePost}}
						
						<div id="disqus_thread"></div>
						<script type="text/javascript">
							var disqus_shortname = 'twestival2011';
							var disqus_identifier = 'twestival_{{PostID}}';
							
							(function() {
							    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
							    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>
							Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
						</noscript>
					</div>
				{{/BlogPost}}
				<div class="clearfix"></div>

			</div>
			<div id="sidebars">
				{{> Sidebar/EventTwitter }}
				{{> Sidebar/EventSponsors }}
				{{> Sidebar/EventTeamMembers }}
				{{> Sidebar/GlobalTumblr }}
			</div>
		</div>

		{{> Footer }}
	</body>
</html>