{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: Conditions</title>
		
		<link rel="stylesheet" href="css/conditions.css" />
	</head>
	<body id="conditions">
		{{> Header }}

 		<div class="wrapper">
			<h1>Conditions</h1> 
			<h2>Coming Soon</h2>
		</div>
		
		{{> Footer }}
	</body>
</html>