{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: Get Involved</title>
		
		<link rel="stylesheet" href="css/involve.css" />
	</head>
	<body id="involve">
		{{> Header }}

 		<div class="wrapper">
			<h1>Get Involved in Twestival</h1> 
			<div class="type">
				<img src="img/involve/organize.jpg" class="photo" />
				<a href="register" class="button" id="involve-button-organize">Organize</a>
				<div class="caption">Organize a Twestival</div>
				<p>
					Ready to take the lead and make a difference in your community? It’s a rewarding and fun way to meet new people! Our orientation team of experienced Twestival organizers are here to help you plan an event to remember.
				</p>
			</div>
			<div class="type">
				<img src="img/involve/volunteer.jpg" class="photo" />
				<a href="volunteer" class="button" id="involve-button-volunteer">Volunteer</a>
				<div class="caption">Contribute Locally</div>
				<p>
					“Many hands make light work”—and a much better time will be had by all! So what are you waiting for? Why only attend a Twestival when you can help make it amazing. Click the button to find out what is happening in your community.
				</p>
			</div>
			<div class="type">
				<img src="img/involve/sponsor.jpg" class="photo" />
				<a href="sponsor" class="button" id="involve-button-sponsor">Sponsor</a>
				<div class="caption">Sponsor a Twestival</div>
				<p>
					Support a local event through monetary, in-kind or media sponsorships. Simply submit your interest in helping a great cause and you will also gain exposure to digital leaders in your community. (If no Twestival is planned yet for your community, we will pass your name on to organizers when they come forward.)
				</p>
			</div>
			<div class="type">
				<img src="img/involve/read.jpg" class="photo" />
				<a href="http://twestival.tumblr.com/" class="button" id="involve-button-read">Read</a>
				<div class="caption">Follow Our Stories</div>
				<p>
					Keep up-to-date with the excitement of hundreds of Twestivals happening around the world throughout the year. Check out our blog to discover what other organizers are doing and learn how Twestival is having an impact in communities across the globe.
				</p>
			</div>
			<div class="type">
				<img src="img/involve/social.jpg" class="photo" />
				<div class="caption">Spread the Word</div>
				<p>
					Help us share all the creative ideas and hard work that go into making Twestivals a huge success. Follow us on social media or sign up for our regular newsletter updates—and be sure to pass it along to your friends, family and professional contacts!
				</p>
				<ul class="horizontal" id="involve-social" >
					<li><a href="http://twitter.com/twestival" target="_blank"><img src="img/common/footer/emblem-twitter.png" alt="Twitter"/></a></li>
					<li><a href="http://facebook.com/twestival" target="_blank"><img src="img/common/footer/emblem-facebook.png" alt="Facebook"/></a></li>
					<li><a href="https://plus.google.com/112844332844002811178/" target="_blank"><img src="img/common/footer/emblem-googleplus.png" alt="Google+"/></a></li>
					<li><a href="https://pinterest.com/twestival/" target="_blank"><img src="img/common/footer/emblem-pinterest.png" alt="Pinterest"/></a></li>
					<li><a href="http://linkedin.com/twestival" target="_blank"><img src="img/common/footer/emblem-linkedin.png" alt="LinkedIn"/></a></li>
					<li><a href="http://twestival.tumblr.com/l" target="_blank"><img src="img/common/footer/emblem-tumblr.png" alt="Tumblr"/></a></li>
				</ul>
			</div>
		</div>

		{{> Footer }}
	</body>
</html>