{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: Impact</title>
		
		<link rel="stylesheet" href="css/impact.css" />
	</head>
	<body id="impact">
		{{> Header }}

 		<div class="wrapper">
			<h1>Impact</h1> 
			<h2>Comming Soon</h2>
		</div>
		
		{{> Footer }}
	</body>
</html>