{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: Partners</title>
		
		<link rel="stylesheet" href="css/partners.css" />
	</head>
	<body id="partners">
		{{> Header }}

 		<div class="wrapper">
			<h1>Partners</h1> 
			
			<div class="partner-group" id="partners-sponsors">
				<div class="title">Global Sponsors</div>
				<div class="body">
					<h2>Comming Soon</h2>
				</div>
			</div>
			
			<div class="partner-group" id="partners-media">
				<div class="title">Media Partners</div>
				<div class="body">
					<h2>Comming Soon</h2>
				</div>
			</div>
			
			<div class="clearfix"></div>
			
			{{>Share}}
		</div>
		
		{{> Footer }}
	</body>
</html>