{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: Sponsor</title>
		
		<link rel="stylesheet" href="css/sponsor.css" />
	</head>
	<body id="sponsor">
		{{> Header }}

 		<div class="wrapper">
			<h1>Sponsor</h1> 
			<h2>Coming Soon</h2>
		</div>
		
		{{> Footer }}
	</body>
</html>