{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: Team</title>
		
		<link rel="stylesheet" href="css/team.css" />
	</head>
	<body id="team">
		{{> Header }}

 		<div class="wrapper">
			<h1>Tweet Our Global Team</h1> 
			<h2>Comming Soon</h2>
		</div>
		
		{{> Footer }}
	</body>
</html>