{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}}: Volunteer</title>
		
		<link rel="stylesheet" href="css/volunteer.css" />
	</head>
	<body id="volunteer">
		{{> Header }}

 		<div class="wrapper">
			<h1>Volunteer</h1> 
			<h2>Coming Soon</h2>
		</div>
		
		{{> Footer }}
	</body>
</html>