<h1>Welcome to Twestival!</h1>

<p>Thank you for registering to host a Twestival in 2013. You’re joining hundreds of cities around the world who have decided to tweet, meet, give with their local communities. We’re excited about working with you and your team to make sure you have a spectacular event.</p>

<p>To kick things off we have included links to important tools and resources to help you organize your Twestival from start to finish — <strong>so please keep this email!</strong></p>

<p>Shortly, we will be introducing you to a mentor, an experienced organizer on our global orientation team. This mentor will be your go-to contact when you have questions or need guidance. Ask anything! Please join our <strong>Twestival Orientation Google Group</strong>, a forum where organizers and mentors alike can post questions and information to share with everyone in the group. It will also be a great way to connect with volunteer organizers around the world. (Note: If the email you used to register is not a gmail address, please provide a gmail address so we can add you. You can join the group without a gmail address, but you will only be able to post through email.)</p>

<h2>Getting Started</h2>

<p>The best place to start is with the Twestival 2013 Handbook[LINK]. This is your essential guide to all things Twestival, including:</p>

<ul>
	<li><strong>Selecting a Local Cause.</strong> Please pay close attention to our guidelines.</li>
    <li><strong>Brand guidelines.</strong> Find a local designer to customize a local logo for your Twestival.</li>
    <li><strong>Event Planning.</strong></li>
    <li><strong>Working with Local Volunteers.</strong></li>
    <li><strong>Your Blog on Twestival.com.</strong> This is where you will sell tickets for your events, post official event details and sponsor logos along with more information about the cause you are supporting. Below you will find login information to administer your blog as well as a link to the “Getting Started with Your Twestival Event Blog” document.</li>
</ul>

<h2>Twestival Event Blog</h2>
<p>Blog: <a href="{{BlogUri}}/login">{{BlogUri}}/login</a></p>
<p>Username: {{Username}}</p>
<p>Password: {{Password}}</p>

<p><a href="">Getting Started with Your Twestival Event Blog</a></p>

<p><a href="">Organizer Template Package</a></p>

<p>If you have any questions regarding, simply reply, and we’ll be happy to assist you.</p>

<p>Thank you for choosing to make a difference in your community!</p>

<p>Twestival Approvals Team</p>