Thank you for registering to host a Twestival! You will be contacted by a member of our Approvals team within 24-48 hours. If you have any questions, please email us at registration@twestival.com and put "registration" in your subject line.