A new sponsor was submitted for {{#EventName}}{{.}}{{/EventName}}{{^EventName}}your event{{/EventName}}!

{{#City}}Location: {{#format.toLocation}}{{City}}, {{StateProvince}}, {{Country}}{{/format.toLocation}}
{{/City}}
Organization: {{Organization}}
URL: {{Uri}}
Sponsorship: {{Type}}

Name: {{Name}}
Email: {{EmailAddress}}
Phone Number: {{PhoneNumber}}

Details:
{{Details}}