A new volunteer was submitted for {{#EventName}}{{.}}{{/EventName}}{{^EventName}}your event{{/EventName}}!

{{#City}}Location: {{#format.toLocation}}{{City}}, {{StateProvince}}, {{Country}}{{/format.toLocation}}
{{/City}}
Email: {{EmailAddress}}
Name: {{Name}}
Twitter Name: {{TwitterName}}

Volunteer Capacity:
{{Capacity}}