{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		{{> Blog/HeadContent }}
		
		<title>Twestival {{CurrentYear}}: {{#Event}}{{Name}}{{/Event}}</title>
	</head>
	<body id="blog">
		{{> Header }}
		{{> Blog/Header}}
		
		{{> Blog/Event }}
		
		<div class="wrapper content">
			<div id="blog-posts">
				{{#BlogPosts}}
					<div class="clearfix"></div>
					<div class="post" id="post-{{PostID}}">
						{{> Blog/PostCommands}}
						
						<a href="{{BlogPostPermalinkUri}}" class="title">{{Title}}</a>
						<div class="date">{{#format.toEuropeanDate}}{{Created}}{{/format.toEuropeanDate}}</div>
						<a href="{{BlogPostPermalinkUri}}#disqus_thread" class="comment-link">Comment</a>
					
						<div class="body">
							{{{Content}}}
						</div>
						
						{{> Blog/SharePost}}
					</div>
				{{/BlogPosts}}
				<div class="clearfix"></div>
				
				{{#Pages.Older}}
					<a href="{{BlogUri}}?Page={{.}}" class="pagination older">← Older Posts</a>
				{{/Pages.Older}}
				{{#Pages.Newer}}
					<a href="{{BlogUri}}?Page={{.}}" class="pagination newer">Newer Posts →</a>
				{{/Pages.Newer}}
			</div>
			<div id="sidebars">
				{{> Sidebar/EventTwitter }}
				{{> Sidebar/EventSponsors }}
				{{> Sidebar/EventTeamMembers }}
				{{> Sidebar/GlobalTumblr }}
			</div>
		</div>

		{{> Footer }}
	</body>
</html>