<div id="header">
	<div class="wrapper">
		<a href="{{GlobalUri}}/index">
			<img class="logo" src="img/common/header/logo.png" alt="TWESTIVAL: tweet. meet. give."/>
		</a>
		<div class="menu">
			<ul class="horizontal">
				<li><a href="{{GlobalUri}}/our_story">Our Story</a></li>
				<li><a href="{{GlobalUri}}/impact">Impact</a></li>
				<li><a href="http://twestival.tumblr.com/">Global Blog</a></li>
				<li><a href="{{GlobalUri}}/events">Official Events</a></li>
				<li class="button-gray"><a href="{{GlobalUri}}/get_involved">Get Involved</a></li>
			</ul>
		</div>
		<div class="info">
			<div class="social-media">
				<a href="https://www.facebook.com/sharer.php?u=http://www.twestival.com" target="_blank" id="header-social-media-facebook">
					<img src="{{GlobalUri}}/img/common/header/share-facebook.png" alt="Facebook Like"/>
				</a>
				<a href="https://twitter.com/share?text=Check%20out%20%40Twestival%20%E2%80%94%20join%20cities%20across%20the%20globe%20and%20host%20an%20event%20to%20support%20a%20great%20cause!%20Visit%20twestival.com" target="_blank" id="header-social-media-twitter">
					<img src="{{GlobalUri}}/img/common/header/share-twitter.png" alt="Twitter Share"/>
				</a>
			</div>
			<ul class="stats">
				<li id="stats-cities">
					{{#SummaryStats.CityCount}}{{#format.toUSInteger}}{{.}}{{/format.toUSInteger}}{{/SummaryStats.CityCount}}
					{{^SummaryStats.CityCount}} 0 {{/SummaryStats.CityCount}}
					cities
				</li>
				<li id="stats-countries">
					{{#SummaryStats.CountryCount}}{{#format.toUSInteger}}{{.}}{{/format.toUSInteger}}{{/SummaryStats.CountryCount}}
					{{^SummaryStats.CountryCount}} 0 {{/SummaryStats.CountryCount}}
					countries
				</li>
				<!-- 2013-04-07: Temporary until we start getting donations
				<li id="stats-total">{{#format.toUSDollars}}{{SummaryStats.DonationTotalUSD}}{{/format.toUSDollars}} raised</li>
				 -->
			</ul>
			<form action="{{GlobalUri}}/events" method="GET" class="search ui-front" id="form-search">
				<label class="accessible-text" for="search-query">Find a Twestival</label>
				<input type="text" id="search-query" name="q" value="" placeholder="Find a Twestival"/>
				<label class="accessible-text" for="search-button">Search</label>
				<input type="image" id="search-button" name="btn" src="{{GlobalUri}}/img/common/header/search.png" alt="Search"/>
			</form>
		</div>
	</div>
</div>

<a name="content"></a>