{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}} Admin</title>
		
		<link rel="stylesheet" href="css/input-form.css" />
		<link rel="stylesheet" href="css/admin.css" />
	</head>
	<body id="admin">
		{{> Header }}
		
		<div class="wrapper">
			<h1>
				<a href="admin">Site Admin</a>:
				<a href="admin/registration">Registration</a>:
				{{TwitterName}} / {{#format.toLocation}}{{City}}, {{StateProvince}}, {{Country}}{{/format.toLocation}}
			</h1>
			
			<form class="input" id="form-registration" action="admin/registration/{{RegistrationID}}!PUT" method="POST">
				<fieldset>
					<div class="legend">Details</div>
					<div class="body">
						<table class="detail">
							<tbody>
								<tr>
									<th>Year</th>
									<td colspan="2">{{Year}}</td>
								</tr>
								<tr>
									<th>Approval Status</th>
									<td colspan="2">{{ApprovalStatus}}</td>
								</tr>
								<tr>
									<th>Re-Registration?</th>
									<td>{{#ReRegistration}}✓{{/ReRegistration}}	</td>
									<td class="links">
										{{#HasRelatedEvents}}
											<div>Possibly Related Prior Events</div>
											<ul class="links">
												{{#RelatedEvents}}
													<li>
														<a href="admin/event/{{EventID}}" target="_blank">
															{{Year}}: {{Name}}
														</a>
													</li>
												{{/RelatedEvents}}
											</ul>
										{{/HasRelatedEvents}}
									</td>
								</tr>
								<tr>
									<th>Name</th>
									<td>
										{{Name}}
									</td>
									<td class="links">
										<a href="https://www.google.com/search?q={{#format.toUrlQuery}}{{Name}}{{/format.toUrlQuery}}" target="_blank">
											Google Search
										</a><br/>
									</td>
								</tr>
								<tr>
									<th>Twitter Name</th>
									<td>{{TwitterName}}</td>
									<td class="links">
										<a href="https://twitter.com/{{TwitterName}}" target="_blank">
											Twitter
										</a><br/>
									</td>
								</tr>
								<tr>
									<th>Email Address</th>
									<td>{{EmailAddress}}</td>
									<td class="links">
										<a href="https://www.google.com/search?q={{#format.toUrlQuery}}{{EmailAddress}}{{/format.toUrlQuery}}" target="_blank">
											Google Search
										</a><br/>
									</td>
								</tr>
								<tr>
									<th>Location</th>
									<td>
										{{#format.toLocation}}{{City}}, {{StateProvince}}, {{Country}}{{/format.toLocation}}
									</td>
									<td>
										<a href="https://maps.google.com/?q={{#format.toUrlQuery}}{{#format.toLocation}}{{City}}, {{StateProvince}}, {{Country}}{{/format.toLocation}}{{/format.toUrlQuery}}&z=5" target="_blank">
											Google Maps
										</a><br/>
									</td>
								</tr>
								{{#PreferredTwestivalName}}
									<tr>
										<th>Preferred Twestival Name</th>
										<td>{{PreferredTwestivalName}}</td>
										<td>
											<!-- TODO: List conflicting events/registrations -->
										</td>
									</tr>
								{{/PreferredTwestivalName}}
								{{#CharityDescription}}
									<tr>
										<th>Charity Description</th>
										<td colspan="2">{{CharityDescription}}</td>
									</tr>
								{{/CharityDescription}}
								{{#Comment}}
									<tr>
										<th>Comment</th>
										<td colspan="2">{{Comment}}</td>
									</tr>
								{{/Comment}}
							</tbody>
						</table>
					</div>
				</fieldset>
				{{#ApprovalStatusNew}}
					<input type="submit" class="action" name="ApprovalStatus" value="Approve"/>
					<input type="submit" class="action" name="ApprovalStatus" value="Deny" onclick="return confirm('Are you sure you want to deny this registration? If so, you must email the reason(s) for denial to {{EmailAddress}} within 4 hours.');"/>
				{{/ApprovalStatusNew}}
				<input type="button" class="action" value="Cancel" onclick="history.go(-1);"/>
			</form>
		</div>
		
		{{> Footer }}
	</body>
</html>