{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}} Admin</title>
		
		<link rel="stylesheet" href="css/input-form.css" />
		<link rel="stylesheet" href="css/admin.css" />
	</head>
	<body id="admin">
		{{> Header }}
		
		<div class="wrapper">
			<h1><a href="admin">Site Admin</a></h1>
			
			<h2>Event Promotions</h2>
			<ul class="links">
				{{#PageSections}}
					<li>
						<a href="admin/event-promotions/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{SectionName}}{{/format.toLowerCase}}">
							{{#format.toTitleCase}}{{PageName}}{{/format.toTitleCase}}: {{#format.toTitleCase}}{{SectionName}}{{/format.toTitleCase}}
						</a>
					</li>
				{{/PageSections}}
			</ul>
			
			<h2>Edit Content</h2>
			<ul class="links">
				{{#PageContents}}
					<li>
						<a href="admin/page-content/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{ContentName}}{{/format.toLowerCase}}">
							{{#format.toTitleCase}}{{PageName}}{{/format.toTitleCase}}: {{#format.toTitleCase}}{{ContentName}}{{/format.toTitleCase}}
						</a>
					</li>
				{{/PageContents}}
			</ul>
			
			<h2>Pending Registrations <a href="admin/registration" class="view-all">(View All)</a></h2>
			<table class="list">
				<thead>
					<tr>
						<th>ReReg?</th>
						<th>Twitter Name</th>
						<th>Location</th>
						<th colspan="3">Submitted</th>
					</tr>
				</thead>
				<tbody>
					{{#Registrations}}
						<tr>
							<td class="symbol">
								{{#ReRegistration}}✓{{/ReRegistration}}
							</td>
							<td>
								<a href="admin/registration/{{RegistrationID}}">
									{{TwitterName}}
								</a>
							</td>
							<th>
								<a href="admin/registration/{{RegistrationID}}">
									{{#format.toLocation}}{{City}}, {{StateProvince}}, {{Country}}{{/format.toLocation}}
								</a>
							</th>
							<td>
								{{#format.toEuropeanDate}}{{Created}}{{/format.toEuropeanDate}}
							</td>
							<td>@</td>
							<td>
								{{#format.to24HourTime}}{{Created}}{{/format.to24HourTime}}
							</td>
						</tr>
					{{/Registrations}}
				</tbody>
			</table>
		</div>
		
		{{> Footer }}
	</body>
</html>