<h1>Welcome to Twestival!</h1>

<p>Thank you for registering to host a Twestival in {{CurrentYear}}. You’re joining hundreds of cities around the world who have decided to tweet, meet, give with their local communities. We’re excited about working with you and your team to make sure you have a spectacular event.</p>

<p>To kick things off we have included links to important tools and resources to help you organize your Twestival from start to finish — <strong>so please keep this email!</strong></p>

<p>Shortly, we will be introducing you to a mentor, an experienced organizer on our global orientation team. This mentor will be your go-to contact when you have questions or need guidance. Ask anything! You will soon receive an invitation to join our <strong>Twestival Orientation Google Group</strong>, a forum where organizers and mentors alike can post questions and information to share with everyone in the group. It will be a great way to connect with volunteer organizers around the world. (Note: If the email you used to register is not a gmail address, please provide a gmail address so we can add you. You can join the group without a gmail address, but you will only be able to post through email.)</p>

<h2>Getting Started</h2>

<p>The best place to start is with the <a href="{{GlobalUri}}/doc/{{CurrentYear}}/organizer-handbook.pdf">Twestival {{CurrentYear}} Handbook</a>. This is your essential guide to all things Twestival, including:</p>

<ul>
	<li><strong>Selecting a Local Cause.</strong> Please pay close attention to our guidelines.</li>
	<li><strong>Event Planning.</strong></li>
	<li><strong>Working with Local Volunteers.</strong></li>
	<li><strong>Your Blog on Twestival.com.</strong> This is where you will sell tickets for your events, post official event details and sponsor logos along with more information about the cause you are supporting. Below you will find login information to administer your blog, a link to the “Getting Started with Your Twestival Event Blog” document, and a link to an Organizer Template Package </li>
</ul>

<h2>Twestival Event Blog</h2>
<p>
Blog: <a href="{{BlogUri}}/login">{{BlogUri}}/login</a><br/>
Username: {{Username}}<br/>
Password: {{Password}}<br/>
</p>

<h2>Resources</h2>
<ul>
	<li><a href="{{GlobalUri}}/doc/{{CurrentYear}}/getting-started-event-blog.pdf">Getting Started with Your Twestival Event Blog</a></li>
	<li><a href="{{GlobalUri}}/doc/{{CurrentYear}}/organizer-templates.zip">Organizer Template Package</a></li>
</ul>

<p>&nbsp;</p>

<p>Thank you for choosing to make a difference in your community!</p>

<p>&nbsp;</p>

<p>Twestival Approvals Team</p>