A new volunteer was submitted for {{#EventName}}{{.}}{{/EventName}}{{^EventName}}your event{{/EventName}}!

Please follow up with them within 48 hours, let them know when and where the next team meeting will be and how they can get involved. 

{{#City}}Location: {{#format.toLocation}}{{City}}, {{StateProvince}}, {{Country}}{{/format.toLocation}}
{{/City}}
Email: {{EmailAddress}}
Name: {{Name}}
Twitter Name: {{TwitterName}}

Volunteer Capacity:
{{Capacity}}