{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival - Error</title>
	</head>
	<body id="error">
		<div class="wrapper">
			<h1>Blurgh.</h1>
			
			<p>
				The page you’re looking for isn’t here, or is broken. Sorry about that!
			</p>
			<p>
				<a href="{{GlobalUri}}" style="color: #58c2d1;">Return to our homepage to try again!</a>
			</p>
			<p>
				Please accept this kitten for your troubles.
			</p>
			
			<img src="img/common/error-kitten.gif" alt="Yawning Kitten"/>
		</div>
	</body>
</html>