<link rel="stylesheet" href="css/blog.css" />

<!-- Twitter -->
<script src="//widgets.twimg.com/j/2/widget.js"></script>
<link href="//widgets.twimg.com/j/2/widget.css" type="text/css" rel="stylesheet"/>

<!-- Social Media Counts -->
<script type="text/javascript">
	function loadSocialMediaCounts(postID, url) {
		window['loadSocialMediaCountsForPost' + postID] = function(response) {
			$('#share-facebook-count-' + postID).text(response.Facebook.share_count).fadeIn();
			$('#share-twitter-count-' + postID).text(response.Twitter).fadeIn();
			$('#share-pinterest-count-' + postID).text(response.Pinterest).fadeIn();
			$('#share-googleplus-count-' + postID).text(response.GooglePlusOne).fadeIn();
		};
		$.ajax({
			dataType: 'jsonp',
			url: '//' + (location.protocol == 'https:' ? 'sharedcount.appspot' : 'api.sharedcount') + '.com',
			data: {
				url: url
			},
			cache: true,
			jsonpCallback: 'loadSocialMediaCountsForPost' + postID
		});
	};
</script>