{{#security.currentBlogEventAdmin}}
	<ul class="commands horizontal">
		<li><a href="{{BlogPostUri}}" class="command">Edit</a></li>
		<li>
			<form action="{{BlogPostUri}}!DELETE" method="POST" class="rest-link command" onclick="return confirm('Are you sure you want to delete this post?');">
				<input type="submit" value="Delete" class="command"/>
			</form>
		</li>
	</ul>
{{/security.currentBlogEventAdmin}}
