<div class="social-media-share">
	<a class="share share-facebook" href="http://www.facebook.com/sharer.php?u={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}">
		<span class="accessible-text">Facebook Share Count: </span>
		<span class="count" id="share-facebook-count-{{PostID}}"></span>
	</a>
	<a class="share share-twitter" href="http://twitter.com/share?text={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}">
		<span class="accessible-text">Twitter Share Count: </span>
		<span class="count" id="share-twitter-count-{{PostID}}"></span>
	</a>
	<a class="share share-pinterest" href="http://pinterest.com/pin/create/button/?url={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}&media={{#format.toUrlQuery}}{{Event.ImageUri}}{{/format.toUrlQuery}}&description={{#format.toUrlQuery}}{{Title}}{{/format.toUrlQuery}}">
		<span class="accessible-text">Pinterest Pin Count: </span>
		<span class="count" id="share-pinterest-count-{{PostID}}"></span>
	</a>
	<a class="share share-googleplus" href="https://plus.google.com/share?url={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}">
		<span class="accessible-text">Google+ Share Count: </span>
		<span class="count" id="share-googleplus-count-{{PostID}}"></span>
	</a>
	<a class="share share-email" href="mailto:?subject={{#format.toUrlQuery}}{{Title}}{{/format.toUrlQuery}}body={{#format.toUrlQuery}}{{BlogPostShareUri}}{{/format.toUrlQuery}}>">
		<span class="accessible-text">Email Link</span>
		<span class="count" id="share-email-count-{{PostID}}"></span>
	</a>
	<script type="text/javascript">
		loadSocialMediaCounts({{PostID}}, '{{BlogPostShareUri}}');
	</script>
</div>