<div id="event-team" class="sidebar">
	<div class="title">The Team</div>
	<div class="body">
		<ul class="horizontal">
			{{#Event.TeamMembers}}
				<li>
					<a href="https://twitter.com/{{TwitterName}}">
						<img src="{{ImageUri}}" alt="{{TwitterName}}"/>
					</a>
				</li>
			{{/Event.TeamMembers}}
		</ul>
		<div class="clearfix"></div>
	</div>
</div>
