<div id="sidebar-download" class="sidebar">
	<div class="title">Downloads</div>
	<div class="body">
		<ul>
			<li>
				<a href="doc/2013/twestival-global-press-release.pdf">
					<strong>Global Press Release 2013.</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<strong>Media Releases.</strong>
					Official Twestival™ Logos.
				</a>
			</li>
			<li>
				<a href="#">
					<strong>Images.</strong>
					Images for use under Creative Commons Licensing.
				</a>
			</li>
		</ul>
	</div>
</div>