{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}} Admin</title>
		
		<link rel="stylesheet" href="css/input-form.css" />
		<link rel="stylesheet" href="css/admin.css" />
	</head>
	<body id="admin">
		{{> Header }}
		
		<div class="wrapper">
			<h1>
				<a href="admin">Site Admin</a>:
				Event Promotions:
				<a href="admin/event-promotions/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{SectionName}}{{/format.toLowerCase}}">
					{{#format.toTitleCase}}{{PageName}}{{/format.toTitleCase}}:
					{{#format.toTitleCase}}{{SectionName}}{{/format.toTitleCase}}
				</a>
			</h1>
			
			<table class="list">
				<tbody>
					{{#EventPromotions}}
						<tr>
							<td class="symbol">
								{{^First}}
									<form action="admin/event-promotions/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{SectionName}}{{/format.toLowerCase}}/{{Sequence}}" method="POST" class="rest-link">
										<input type="submit" name="Operation" value="↑"/>
									</form>
								{{/First}}
							</td>
							<td class="symbol">
								{{^Last}}
									<form action="admin/event-promotions/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{SectionName}}{{/format.toLowerCase}}/{{Sequence}}" method="POST" class="rest-link">
										<input type="submit" name="Operation" value="↓"/>
									</form>
								{{/Last}}
							</td>
							<th>
								{{#Name}}
									<a href="admin/event-promotions/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{SectionName}}{{/format.toLowerCase}}/{{Sequence}}">
										{{#Name}}{{Name}}{{/Name}}
									</a>
								{{/Name}}
							</th>
							<td class="symbol">
								{{#Name}}
									<form action="admin/event-promotions/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{SectionName}}{{/format.toLowerCase}}/{{Sequence}}!DELETE" method="POST" class="rest-link">
										<input type="submit" value="⊠"/>
									</form>
								{{/Name}}
								{{^Name}}
									<a href="admin/event-promotions/{{#format.toLowerCase}}{{PageName}}{{/format.toLowerCase}}/{{#format.toLowerCase}}{{SectionName}}{{/format.toLowerCase}}/{{Sequence}}">
										{{^Name}}⊞{{/Name}}
									</a>
								{{/Name}}
							</td>
						</tr>
					{{/EventPromotions}}
				</tbody>
			</table>
		</div>
		
		{{> Footer }}
	</body>
</html>