{{> HTMLTag }}
	<head>
		{{> HeadContent }}
		<title>Twestival {{CurrentYear}} Admin</title>
		
		<link rel="stylesheet" href="css/input-form.css" />
		<link rel="stylesheet" href="css/admin.css" />
	</head>
	<body id="admin">
		{{> Header }}
		{{> Global/Header }}
		
		<div class="wrapper">
			<h1>
				<a href="admin">Site Admin</a>:
				Events
			</h1>
			
			<form class="input" id="form-events" method="GET">
				<div class="inline">
					<label for="year">Year</label><br/>
					<select id="year" name="Year">
						{{#Years}}
							<option {{#Selected}}selected="selected"{{/Selected}}>{{Year}}</option>
						{{/Years}}
					</select><br/>
				</div>
				<div class="inline">
					<label for="active">Active</label><br/>
					<select id=""active"" name="Active">
						<option value="true" {{#Active}}selected="selected"{{/Active}}>Yes</option>
						<option value="false" {{^Active}}selected="selected"{{/Active}}>No</option>
					</select><br/>
				</div>
				<div class="inline">
					<input type="submit" class="action" value="Show"/>
				</div>
				
				<div class="clearfix"></div>
			</form>
			
			<table class="list">
				<thead>
					<tr>
						<th>Name</th>
						<th>Location</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{{#Events}}
						<tr>
							<td>
								<a href="admin/event/{{EventID}}">
									{{Name}}
								</a>
							</td>
							<th>
								<a href="admin/event/{{EventID}}">
									{{#format.toLocation}}{{LocationCity}}, {{LocationStateProvince}}, {{LocationCountry}}{{/format.toLocation}}
								</a>
							</th>
							<td>
								{{#format.toEuropeanDate}}{{Date}}{{/format.toEuropeanDate}}
							</td>
						</tr>
					{{/Events}}
				</tbody>
			</table>
		</div>
		
		{{> Footer }}
	</body>
</html>