#events .white-bar {
	position: relative;
	height: 700px;
	background-color: #ffffff;
	border-bottom: 1px solid #DCDCDC;
}

#events h1 {
	position: relative;
	margin-top: 28px;
	z-index: 200;
}
#events #map {
	position: relative;
	top: -90px;
	width: 1024px;
	height: 680px;
	margin: 0px auto;
	z-index: 100;
	background-color:#ffffff !important;
}
#events #map-loading {
	position: relative;
	margin: -620px auto 0px auto;
	width: 35px;
	height: 35px;
	z-index: 200;
}

#events .continent {
	width: 590px;
	float: left;
	margin-top: 46px;
	margin-left: 6px;
}
#events .continent .caption {
	border: 1px solid #DCDCDC;
	width: 306px;
	font-family: 'Melbourne-Bold';
	padding: 9px 26px 3px 16px;
	margin: 0px 0px 24px -4px; 
}
#events .continent .caption .name {
	text-transform: uppercase;
	font-size: 24px;
	float: left;
}
#events .continent .caption .stats {
	float: right;
	padding-top: 6px;
	font-size: 14px;
}
#events .continent ul.events {
	list-style-type: none;
	color: #808080;
	font-family: 'Lato';
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}
#events .continent ul.events li {
	padding: 6px 0px;
}
#events .continent ul.events .location {
	font-weight: bold;
	color: #444444;
}
