.fan_box .full_widget {
	border: none;
	background: none;
}
.fan_box .connect_top, .fan_box .total_plus, .fan_box .total {
	display: none;
}
.fan_box .connections {
	padding: 0px;
	border: none;
}
.fan_box .connections_grid {
	padding-top: 0px !important;
	padding-left: 18px;
}
.fan_box .connections_grid .grid_item {
	padding: 0px 12px 6px 0px;
}
