/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
form .required:after {
	content: ' *';
	font-weight: bold;
	color: #e64d45;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url('//hello.myfonts.net/count/25f6bb');
@font-face {font-family: 'Melbourne';src: url('../font/25F6BB_0_0.eot');src: url('../font/25F6BB_0_0.eot?#iefix') format('embedded-opentype'),url('../font/25F6BB_0_0.woff') format('woff'),url('../font/25F6BB_0_0.ttf') format('truetype');}
@font-face {font-family: 'Melbourne-Bold';src: url('../font/25F6BB_1_0.eot');src: url('../font/25F6BB_1_0.eot?#iefix') format('embedded-opentype'),url('../font/25F6BB_1_0.woff') format('woff'),url('../font/25F6BB_1_0.ttf') format('truetype');}
@font-face {font-family: 'Melbourne-Light';src: url('../font/25F6BB_2_0.eot');src: url('../font/25F6BB_2_0.eot?#iefix') format('embedded-opentype'),url('../font/25F6BB_2_0.woff') format('woff'),url('../font/25F6BB_2_0.ttf') format('truetype');}

body {
	background-image: url('../img/common/background.jpg');
	color: #444444;
}
a:link, a:visited, a:hover, a:active {
	color: #444444;
	text-decoration: none;
}

input, select {
	color: #444444;
	border: medium none;
}
.wrapper {
	width: 982px;
	margin: 0px auto;
	position: relative;
}
ul.horizontal {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul.horizontal li {
	float: left;
}
.fadeout {
	z-index: 100;
	position: relative;
	bottom: 8px;
	width: 100%;
	height: 8px;
	background-image: url('../img/common/fadeout.png');
}
.accessible-text {
	display: none;
}
h1 {
	font-family: 'Melbourne-Bold';
	font-weight: normal;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}

/* Header */
#header {
	min-width: 982px;
	width: 100%;
	height: 90px;
	font-family: 'Melbourne';
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);
	-moz-box-shadow:	0px 1px 5px rgba(0, 0, 0, 0.20);
	box-shadow:		 0px 1px 5px rgba(0, 0, 0, 0.20);
	position: relative;
	z-index: 200;
	background-color: #ffffff;
}
#header .logo {
	float: left;
	margin-top: 18px;
}
#header .menu {
	float: left;
	margin-left: 83px;
	margin-top: 32px;
}
#header .menu li {
	margin-right: 20px;
	margin-top: 6px;
	font-size: 16px;
}
#header .menu li.button-gray {
	background: url('../img/common/header/button.png') no-repeat;
	width: 110px;
	height: 30px;
	text-align: center;
	margin-top: 0px;
	margin-left: 6px;
	padding-top: 6px;
}
#header .info {
	position: relative;
	width: 152px;
	height: 134px;
	margin-bottom: -64px;
	z-index: 200;
	font-size: 14px;
	float: right;
	border: 1px solid #cc2f3a;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #d23a42;
	padding: 12px 12px 8px 12px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:	0px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow:		 0px 2px 5px rgba(0, 0, 0, 0.2);
}
#header .info #header-social-media-facebook {
	margin-right: 6px;
}
#header .info .stats {
	list-style-type: none;
	padding: 0px;
	text-align: center;
	margin: 8px 0px 8px 0px;
}
#header .info .stats li {
	text-transform: uppercase;
	font-family: 'Melbourne-Bold';
	font-size: 13px;
	margin: 3px 0px 3px 0px;
	border-bottom: 1px solid #b32b35;
}
#header .info .stats #stats-total {
	border: none;
}
#header .info .search {
	background-color: #fbfaf6;
	color: #666666;
	height: 25px;
	border: 1px solid #bf1e2e;
}
#header .info .search #search-query {
	width: 120px;
	height: 22px;
	padding: 2px 0px 0px 4px;
	vertical-align: top;
	font-family: 'Melbourne';
	font-size: 16px;
	background-color: #fbfaf6;
}
#header .info .search #search-button {
	margin-right: 0px;
	float: right;
	margin-right: 6px;
}

/* Sidebars */
#sidebars {
	float: right;
	position: relative;
	top: 25px;
	margin-bottom: 36px;
}
#sidebars .sidebar {
	background: url('../img/common/sidebar/background.png');
	border: 1px solid #DCDCDC;
	margin-top: 25px;
	margin-bottom: 36px;
	padding: 16px;
	width: 270px;
	text-align: center;
}
#sidebars .sidebar .title {
	border: 1px solid #DCDCDC;
	background: #ffffff;
	font-family: 'Melbourne-Bold';
	font-size: 24px;
	letter-spacing: 0.5px;
	color: #50B1BD;
	
	display: inline-block;
	position: relative;
	top: -32px;
	margin: 0px auto;
	padding: 7px 10px 3px 10px;
	text-align: center;
}
#sidebars .sidebar .body {
	text-align: left;
	position: relative;
	top: -16px;
	margin-bottom: -16px;
}
#sidebars #global-blog ul {
	margin: -12px 0px -24px 0px;
	padding: 0px;
	list-style-type: none;
}
#sidebars #global-blog li {
	font-family: 'Lato';
	font-size: 13px;
	padding: 12px 0px;
}

#sidebars #sidebar-twitter .twtr-widget .twtr-hd, #sidebars #sidebar-twitter .twtr-widget .twtr-ft {
	display: none;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-tweet {
	border: none;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-tweet-wrap {
	padding: 0px 5px 12px 5px;
	position: relative;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-avatar, #sidebars #sidebar-twitter .twtr-widget .twtr-img {
	width: 48px;
	height: 48px;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-avatar {
	margin-top: 2px;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-tweet-text {
	margin-left: 57px;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-img img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 4px;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-user {
	display: block;
	font-weight: bold;
	font-size: 14px;
}
#sidebars #sidebar-twitter .twtr-widget .twtr-user:before {
	content: '@';
}
#sidebars #sidebar-twitter .twtr-widget .twtr-timestamp {
	color: #444444 !important;
}

#sidebars #sidebar-instagram {
	width: 286px;
	padding-right: 0px;
}
#sidebars #sidebar-instagram img {
	width: 125px;
	height: 125px;
	margin-right: 16px;
	margin-bottom: 16px;
}

#sidebars .fadeout {
	background-image: url('../img/common/sidebar/fadeout.png');
}

/* Social Media Share */
.social-media-share {
	margin-top: 36px;
	float: right;
}
.social-media-share .share {
	padding-left: 22px;
	border: 1px solid #DCDCDC;
	margin-right: 11px;
	float: left;
	height: 22px;
}
.social-media-share .share-facebook {
	background: #f7f7f6 url('../img/common/share/facebook.png') no-repeat;
}
.social-media-share .share-twitter {
	background: #f7f7f6 url('../img/common/share/twitter.png') no-repeat;
}
.social-media-share .share-googleplus {
	background: #f7f7f6 url('../img/common/share/googleplus.png') no-repeat;
}
.social-media-share .share-pinterest {
	background: #f7f7f6 url('../img/common/share/pinterest.png') no-repeat;
}
.social-media-share .share-linkedin {
	background: #f7f7f6 url('../img/common/share/linkedin.png') no-repeat;
}
.social-media-share .share-email {
	background: #f7f7f6 url('../img/common/share/mail.png') no-repeat;
}
.social-media-share .share .count {
	font-size: 11px;
	font-weight: bold;
	padding: 0px 3px 0px 3px;
	display: none;
	height: 22px;
	position: relative;
	text-align: center;
	top: -2px;
}


/* Footer */
#footer {
	min-width: 982px;
	height: 237px;
	-webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:	0px -2px 3px rgba(0, 0, 0, 0.4);
	box-shadow:		 0px -2px 3px rgba(0, 0, 0, 0.4);
	background: url('../img/common/footer/gradient.png') repeat-x;
	font-family: 'Melbourne';
	margin-top: 62px;
}
#footer .newsletter {
	position: relative;
	top: 50px;
	float: left;
}
#footer .newsletter form label {
	display: block;
	font-size: 19px;
	width: 200px;
}
#footer .newsletter form input#subscribe-email {
	width: 305px;
	height: 40px;
	background: #ffffff;
	font-family: 'Melbourne';
	font-size: 20px;
	margin-top: 12px;
	text-align: center;
}
#footer .newsletter form input#subscribe-button {
	position: absolute;
	display: block;
	background: url('../img/common/footer/button-subscribe.png') no-repeat;
	width: 124px;
	height: 52px;
	top: 24px;
	right: -22px;
	z-index: 100;
	text-transform: uppercase;
	font-family: 'Melbourne-Bold';
	font-size: 14px;
	padding-right: 28px;
	padding-top: 5px;
}
#footer .menu {
	margin-top: 50px;
	padding-bottom: 18px;
	float: right;
	border-bottom: 1px solid #000000;
}
#footer .menu li {
	font-size: 19px;
	margin-right: 32px;
}
#footer .menu #footer-contact-us {
	text-decoration: underline;
	margin-right: 0px;
}
#footer .social-media {
	float: right;
	margin-top: 20px;
}
#footer .social-media .title {
	float: left;
	font-size: 18px;
	margin-right: 41px;
	margin-top: 15px;
}
#footer .social-media .horizontal {
	float: right;
}
#footer .social-media .horizontal li {
	float: left;
	margin-right: 23px;
}
#footer .social-media .horizontal #footer-googleplus {
	margin-right: 0px;
}
#bottom {
	min-width: 982px;
	height: 44px;
	background-color: #69151c;
	color: #d84248;
	font-family: 'Melbourne';
	font-size: 14px;
}
#bottom .copyright {
	padding-top: 14px;
	float: left;
}
#bottom .hosting {
	padding-top: 12px;
	float: right;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: '';
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: ' (' attr(href) ')';
	}

	abbr[title]:after {
		content: ' (' attr(title) ')';
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^='javascript:']:after,
	a[href^='#']:after {
		content: '';
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
