.our-story{
	background: red;
}

#involve-video-story{
	border: 1px solid #c6c6c6;
	width: 560px;
	height: 315px;
	padding: 6px;
	background: #fff;
	float: left;
}
.twestival-story{
	border: 1px solid #c6c6c6;
 	margin: -250px 0 0 450px;
	padding: 30px 40px 70px 145px;
 	background: transparent;
	float: right;
	position: relative;
	z-index: -1;
}